html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



body {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* outline: 1px solid yellow; */
    height: 100%;
}


.quoteDisplay {
    height: 200px;
    font-size: 34px;

}

.buttonContainer {
    text-align: center;
    padding: 0;
}